<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
<head>
	<title>Ruby on Rails Tutorial inclass app | <%= yield(:title) %></title>
</head>
<body>
<h1>Contact</h1>
<p>
Contact Ruby on Rails Tutorial about the inclass app at the
<a href="http://railstutorial.org/contact">contact page</a>
</p>
</body>
</html>
